body {
    padding: 10px;
}
.code {
    background: #f9f9fa;
    font-size: .875rem;
}
.section {
    display: block;
}
input {
    width: 100%;
}
hr {
    margin-top: 50px;
}
@media (min-width: 1200px) {
    a {
        font-size: 2rem;
    }
}
a {
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.fa-bootstrap {
    display: inline-block;
    position: relative;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle, #080135, #220e3c, #381643, #4d204a, #602c50);
}
.fa-code {
    display: inline-block;
    position: relative;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle, #77cff7, #5bb5e6, #409cd5, #2783c3, #0d6ab0);
}
.fa-code-branch {
    display: inline-block;
    position: relative;
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle, #0078d7, #0082d1, #008ac8, #2491bd, #4796b3);
}