body {
    padding: 10px;
}
.code {
    background: #f9f9fa;
    font-size: .875rem;
}
.section {
    display: block;
}
input {
    width: 100%;
}
hr {
    margin-top: 50px;
}
@media (min-width: 1200px) {
    a {
        font-size: 2rem;
    }
}
a {
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}